.App {
  text-align: center;
}

body {
  margin: 0;
  background-image: url("./images/nimi-header-background.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
